* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Komoda';
  src: url('/fonts/Komoda.otf') format('otf');
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('/fonts/RobotoSlab.woff') format('woff');
}

body {
  cursor: url('/cursor.svg'), auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: none;
}

svg {
  width: inherit;
  height: inherit;
}
